@model Survey
@{
    ViewData["Title"] = "Index";
}

<form asp-controller="Survey" asp-action="SaveSurvey" method="post">
    <div class="container-survey">
        <table>
            <tbody>
                <tr class="grid-item1">
                    <td>
                        <strong>Favorite National Park:&nbsp;&nbsp;&nbsp;</strong>
                        <select asp-for="ParkCode">
                            @{
                                foreach (KeyValuePair<string, string> kvp in Model.ParksDictionary)
                                {
                                    <option value="@(kvp.Key)">
                                        @(kvp.Value)
                                    </option>
                                }
                            }
                        </select>
                        <span asp-validation-for="ParkCode"></span>
                    </td>
                </tr>
                <tr class="grid-item1">
                    <td>
                        <label asp-for="EmailAddress">Your email:</label>
                        <input asp-for="EmailAddress" />
                        <span asp-validation-for="EmailAddress"></span>
                    </td>

                </tr>
                <tr class="grid-item1">
                    <td>
                        <label asp-for="State">State of residence:</label>
                        <select asp-for="State" asp-items="@(Model.StateList)"></select>
                        <span asp-validation-for="State"></span>
                    </td>
                </tr>
                <tr class="grid-item1">
                    <td>
                        <strong>Activity Level: &nbsp;</strong>
                        @Html.RadioButton("ActivityLevel", "Inactive")Inactive &nbsp;
                        @Html.RadioButton("ActivityLevel", "Sedentary")Sedentary  &nbsp;
                        @Html.RadioButton("ActivityLevel", "Active")Active  &nbsp;
                        @Html.RadioButton("ActivityLevel", "Extremely Active")Extremely Active &nbsp;
                        <span asp-validation-for="ActivityLevel"></span>
<td>
                </tr>
                <tr class="grid-item2">
                    <td><button class="button" type="submit">Search</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>

